services:
  game:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: dot-connections-game
    ports:
      - "7777:80"
    restart: always
    depends_on:
      - api
    networks:
      - dots-network

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: dot-connections-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
    networks:
      - dots-network

networks:
  dots-network:
    driver: bridge
